@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background-color: rgb(252 254 255);
    font-family: 'Josefin Slab', serif;
    font-size: 1.1rem;
}

@layer base {
    h1 {
      @apply text-6xl font-bold;
      font-family: 'Amatic SC', cursive
    }
    h2 {
      @apply text-3xl font-semibold;
      font-family: 'Amatic SC', cursive
    }
    h3 {
        @apply text-2xl font-semibold text-gray-700;
        font-family: 'Amatic SC', cursive
      }
  }

